.points-6 {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.points-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.points-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.points-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

.main-enter-active,
.main-leave-active {
  transition: all 0.5s ease;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #0d6efd;
  border-radius: 2px;
  height: 90px;
}

.background-primary {
  background-color: #0d6efd !important;
}

textarea:active {
  background-color: #171a1c;
}

textarea:focus {
  background-color: #171a1c !important;
}


.breadcrumb > a.active {
  color: #6c757d !important;
}

.mw-900 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.mw-900 > div {
  max-width: 900px;
  width: 100%;
}

.pagination.active {
  background-color: #fff;
  color: #171a1c;
}

.rounded-30 {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-hover:hover {
  background-color: #323539 !important;
}

.mw-768 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.mw-768 > div {
  max-width: 768px;
  width: 100%;
}

.text-gray-1 {
  color: rgba(255, 255, 240, 0.3) !important;
}

.background-dark-3 {
  background-color: #292d31;
}

.background-dark-1 {
  background-color: #171a1c;
}

.background-dark-2 {
  background-color: #1e2225;
}

.background-gray-1 {
  background-color: #61615d;
}

.background-gray-2 {
  background-color: #383b40;
}

.border-gray-1 {
  border-color: #61615d !important;
}

.border-gray-2 {
  border-color: #393d41 !important;
}
.text.active {
  color: #f8f9fa;
}

.color-gray-1 {
  color: rgba(255, 255, 240, 0.3) !important;
}

.main-px {
  padding-left: 36px;
  padding-right: 36px;
}

.main-p-start {
  padding-left: 36px;
}
.main-p-end {
  padding-right: 36px;
}

.loaded::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #0d6efd;
}

.roboto {
  font-family: Source Sans Pro !important;
  font-weight: 500;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.welcome {
  margin-top: 100px;
}

.fs-48 {
  font-size: 48px;
}

.fs-24 {
  font-size: 24px;
}

.ps-is > div:not(:first-child) {
  margin-left: 12px;
}

.pb-40 {
  padding-bottom: 40px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.text-align-justify {
  text-align: justify;
}

.ms-sidebar {
  margin-left: 330px;
}

.my.button.active {
  border: none !important;
  background-color: #0d6efd;
}

.cursor-pointer {
  cursor: pointer;
}

.main-grid {
  display: grid;
  grid-template-rows: 60px 1fr;
}

.my.button:not(.active):hover {
  background-color: #292d31;
}

@media (min-width: 992px) {
  .welcome {
    margin-top: 175px;
  }
}

@media (max-width: 992px) {
  .main-px {
    padding-left: 24px;
    padding-right: 24px;
  }

  .main-p-start {
    padding-left: 24px;
  }

  .main-p-end {
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .welcome {
    margin-top: calc(75px + 25 * ((100vw - 320px) / (768 - 320)));
  }

  .fs-48 {
    font-size: calc(40px + 8 * ((100vw - 320px) / (768 - 320)));
  }
  .fs-24 {
    font-size: calc(17px + 7 * ((100vw - 320px) / (768 - 320)));
  }
}

@media (min-width: 992px) {
  .mw-330 {
   max-width: 330px;
  }

  .h-100-992 {
    height: 100%;
  }

  
}

@media (max-width: 992px) {
  .w-100-992 {
    width: 100%;
  }
}

@media (max-width: 1170px) {
  .mw-500-768 {
    max-width: 767px;
  }
}

@media (min-width: 1170px) {
  .mw-500-768 {
    max-width: 375px;
  }
}

.linear-loader {
  overflow: hidden;
  width: 100%;
  height: 2px;
  background-color: #171a1c;
  position: relative;
}

.linear-loader div:nth-child(1) {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  height: 100%;
  width: 30%;
  background-color: #fafafa;
  animation: anim1 3s cubic-bezier(0.49, 0.7, 0.7, 0.35) infinite, anim2 2s ease-in-out infinite;
}
.linear-loader div:nth-child(2) {
  content: "";
  left: 0;
  transform: translateX(-100%);
  position: absolute;
  height: 100%;
  width: 30%;
  background-color: #fafafa;
  animation: anim1 3s cubic-bezier(0.49, 0.7, 0.7, 0.35) infinite, anim2 3.5s ease-in-out infinite;
  animation-delay: 1.5s;
}

.linear-loader.blue {
  background-color: #171a1c
}

.linear-loader.blue div:nth-child(1) {
  background-color: #0d6efd;
}

.linear-loader.blue div:nth-child(2) {
  background-color: #0d6efd;
}

@keyframes anim1 {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  55% {
    left: 100%;
    transform: translateX(0%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}

@keyframes anim2 {
  0% {
    width: 30%;
  }
  50% {
    width: 70%;
  }
  100% {
    width: 30%;
  }
}


pre {
  background: transparent !important;
  font-size: 12px !important;
}

.line-highlight::before {
  content: none;
}

.line-highlight::after {
  content: none;
}

.marker-green {
  position: absolute;
  background: rgba(0, 255, 0, 0.1);
  z-index: 2;
}

.marker-red {
  position: absolute;
  background: rgba(200, 100, 100, 0.1);
  z-index: 2;
}

.marker-yellow {
  position: absolute;
  background: rgba(200, 193, 100, 0.1);
  z-index: 2;
}

pre[class*="language-"].line-numbers {
	position: relative;
	padding-left: 3.8em;
	counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
	position: relative;
	/* white-space: inherit; */
}

:not(pre) > code[class*="language-"] {
  white-space: pre-wrap !important;
  background: transparent !important;
}

.line-numbers .line-numbers-rows {
	position: absolute;
	pointer-events: none;
	top: 0;
	font-size: 100%;
	left: -50px;
	width: 3em; /* works for line-numbers below 1000 lines */
	letter-spacing: -1px;
	/* border-right: 1px solid #999; */

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

