.points-6 {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.points-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.points-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.points-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.mw-900 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.mw-900 > div {
    max-width: 900px;
    width: 100%;
}

.pagination.active {
    background-color: #fff;
    color: #171A1C;
}

.rounded-30 {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mw-768 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.mw-768 > div {
    max-width: 768px;
    width: 100%;
}

.text-gray-1 {
    color: #393C3C !important;
}

.background-dark-3 {
    background-color: #292D31;
}

.background-dark-1 {
    background-color: #171A1C;
}

.background-dark-2 {
    background-color: #1E2225;
}

.border-gray-1 {
    border-color: #61615D !important;
}

.border-gray-2 {
    border-color: #393d41 !important;
}

.color-gray-1 {
    color: #61615D !important;
}

.main-px {
    padding-left: 36px;
    padding-right: 36px;
}

.main-p-start {
    padding-left: 36px;
}
.main-p-end {
    padding-right: 36px;
}

.noto-sans {
    font-family: Noto-Sans !important;
    font-weight: 500;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.welcome {
    margin-top: 100px;
}

.fs-48 {
    font-size: 48px;
}

.fs-24 {
    font-size: 24px;
}

.ps-is > div:not(:first-child) {
    margin-left: 12px;
}

.pb-40 {
    padding-bottom: 40px;
}

.fs-14 {
    font-size: 14px;
}

.fs-12 {
    font-size: 12px;
}

.text-align-justify {
    text-align: justify;
}

.ms-sidebar {
    margin-left: 330px;
}

.my.button.active {
    border: none !important;
    background-color: #0d6efd;
}

.cursor-pointer {
    cursor: pointer;
}

.main-grid {
    display: grid;
    grid-template-rows: 60px 1fr;
}

.my.button:not(.active):hover {
    background-color: #292D31;
}

@media(min-width: 992px) {
    .welcome {
        margin-top: 175px;
    }
}

@media(max-width: 992px) {
    .main-px {
        padding-left: 24px;
        padding-right: 24px;
    }

    .main-p-start {
        padding-left: 24px;
    }
    
    .main-p-end {
        padding-right: 24px;
    }
}

@media(max-width: 768px) {
    .welcome {
        margin-top: calc(75px + 25 * ((100vw - 320px) / (768 - 320)));
    }

    .fs-48 {
        font-size: calc(40px + 8 * ((100vw - 320px) / (768 - 320)));
    }
    .fs-24 {
        font-size: calc(17px + 7 * ((100vw - 320px) / (768 - 320)));
    }
}

@media(max-width: 1170px) {
    .mw-500-768 {
        max-width: 767px;
    }
}

@media(min-width: 1170px) {
    .mw-500-768 {
        max-width: 375px;
    }
}